html
  head
    title Create New WorkoutBudde Profile
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body
    .container-fluid
      h1 Create New WorkoutBudde Profile
      if error
        p=error
      form(id="new-user-form", name="new-user-form", method="POST", action="/newuser", onsubmit="return validateForm()")
        input(id="latitude", name="latitude", type="hidden")
        input(id="longitude", name="longitude", type="hidden")
        input(name="_csrf", type="hidden", value=csrfToken)
        p First Name
        input(id="firstname", class="form-control", name="firstname", type="text", required)
        p Last Name
        input(id="lastname", class="form-control", name="lastname", type="text", required)
        p Username
        input(id="username", class="form-control", name="username", type="text", required)
        br
        p Password
        input(id="password", class="form-control", name="password", type="password", required)
        p Re-enter Password
        input(id="passwordCheck", class="form-control", name="retyped_password", type="password", required)
        br
        p Street
        input(id="street", class="form-control", name="street", type="text", onchange="geocodeAddress()", required)
        br
        p City
        input(id="city", class="form-control", name="city", type="text", onchange="geocodeAddress()", required)
        p State 
        input(id="state", class="form-control", name="state", type="text", onchange="geocodeAddress()", required)
        br
        p Zip Code
        input(id="zip_code", class="form-control", name="zip_code", type="text", pattern="[0-9]+", onchange="geocodeAddress()", required)
        div(id="geocodePrompt")
          div(class="alert alert-info") Enter Address Information To See If Address Is Valid
        br
        fieldset(id="exercise-times") 
          -var days = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"]
          each day, index in days
           div(class="time_box")
            label=day
              input(class="form-control chooseDay", name="exercise-time", type="checkbox", value=index)
            p Start Time (In the form of HH:MM, 24-hour time (00:00-23:59))
            input(class="form-control time_input", name="time", placeholder="15:00", type="time", pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]")
            p End Time (In the form of HH:MM, 24-hour time (00:00-23:59))
            input(class="form-control time_input", name="time", placeholder="18:15", type="time")
            label Full-Day (Click this if you are free the whole day)
              input(class="fullDay", name="fullDay", type="checkbox", value=index)
            br
        fieldset(id="exercises")
          -var exercises = ["Swimming", "Running", "Lifting", "Yoga", "Cycling", "Indoor Sports", "Outdoor Sports"]
          each exercise in exercises
            label=exercise
              input(class="form-control", name="exercise", type="checkbox", value=exercise)
        fieldset(id="intensity")
          each intensity in ["Casual", "Moderate", "Intense"]
            label=intensity
              input(class="form-control", name="intensity", type="radio", value=intensity[0], required)
        div(id="validationError")
        input(id="submit", type="submit", value="CREATE NEW USER")
    //jQuery library for Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    //Bootstrap Stylesheet Setup
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //Javascript for Bootstrap
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/lib/validateNewUser.js")
    script(src="/lib/geocode.js")
