include mixins/makeBuddeRequest
include mixins/deletePendingRequestForm
include mixins/deleteBuddeForm

html
  head
    title=user.firstname + ' ' + user.lastname
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    //jQuery library for Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    //Bootstrap Stylesheet Setup
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //Javascript for Bootstrap
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body
    div(id="content-wrapper", class="container-fluid")   
      br
      nav(id="navBar")
        ul(class="row")
          li(class="col-md-2")
            a(href="/") Main Page
          //Viewable only for logged in users
          if loggedIn
            if ownProfile
              li(class="col-md-2")
                a(href="/profile/viewFriends") View Friends
              li(class="col-md-2")
                a(href="/logout") Logout
              li(class="col-md-2")
                a(href="/profile/editProfile/") Edit Profile
              li(class="col-md-2")
                a(href="/profile/deleteProfile/" style="color:red") Delete Profile
          br

      div(id="personalInfo", class="row")
        div(class="col-md-4")
          img(src="/img/dummyImage.png", alt="dummyImage", width="100px", height="100px")
        div(id="first-last-name", class="col-md-6")
          span=user.firstname + ' ' + user.lastname
      br

      //User is logged in, handle if viewing friends profile
      if loggedIn
        if isFriend==true
          p You and #{user.firstname} are Buddes!
          +deleteBuddeForm(user_id)
        else if !ownProfile 
          if requestPending
            p Budde Request Pending
            +deletePendingRequestForm(user_id)
          else
            p Would you like to be Buddes?
            +makeBuddeRequestForm(user_id)
      else
        p Log or Create an Account to Ask to Be A Budde
      div(id="availability", class="row")
        table
          tr
            th Day
            th Available
            th Start Time
            th End Time
          tr
          each val in ["sun", "mon", "tues", "wed", "thurs", "fri", "sat"]
            tr
              th=val
              //Convert true/false to Yes/No
              if user[val]
                th Yes
                th=user[val+"_start_time"]
                th=user[val+"_end_time"]
              else
                th No
      br 
      div(id="exercises", class="row")
        div(class="col-md-12") Exercises That #{user.firstname} Enjoys
        ul
         each val in user.exercises
          li=val 
      br
      -var intensity = {'C': 'Casual', 'M': 'Moderate', 'I': 'INTENSE'};
      p=user.firstname + "'s workouts are " + intensity[user.intensity]
      if contactInfo
        if contactInfo.phone_num
          p Phone Number: #{contactInfo.phone_num}
        else
          p No Phone Number Provided
        if contactInfo.email
          p Email: #{contactInfo.email}
        else
          p No Email Provided
      if ownProfile
        div(id="buddeRequests")
          h2 Budde Requests:
          ul
          -var count = 0;
          each request in buddeRequests
            li
              a(href="/profile/view/" + request.other_user_id) #{request.message}
              form(id="buddeRequest"+count, class="budde-request-form", method="POST", action="/buddeRequest/makeBuddes")
                input(type="hidden", name="_csrf", value=csrftoken)
                input(type="hidden", name="notif_id", value=request.notif_id)
                input(type="hidden", name="askingUserId", value=request.other_user_id)
                input(type="submit", value="Add As A Budde")
            -count++;

          
          
      
    script(src="/lib/buddeRequest.js")
