html
  head
    title=user.firstname + ' ' + user.lastname
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body
    div(id="content-wrapper", class="container-fluid")   
      div(id="personalInfo", class="row")
        div(class="col-md-2")
          img(src="/img/dummyImage.png", alt="dummyImage", width="100px", height="100px")
        div(id="first-last-name", class="col-md-8")
          span=user.firstname + ' ' + user.lastname
      br
      if ownProfile
        a(href="/profile/editProfile/") Edit Profile
        br
        a(href="/profile/deleteProfile/" style="color:red") Delete Profile
      div(id="availability", class="row")
        table
          tr
            th Day
            th Available
            th Start Time
            th End Time
          tr
          each val in ["sun", "mon", "tues", "wed", "thurs", "fri", "sat"]
            tr
              th=val
              //Convert true/false to Yes/No
              if user[val]
                th Yes
                th=user[val+"_start_time"]
                th=user[val+"_end_time"]
              else
                th No
      br 
      div(id="exercises", class="row")
        div(class="col-md-12") Exercises That #{user.firstname} Enjoys
        ul
         each val in user.exercises
          li=val 
      br
      -var intensity = {'C': 'Casual', 'M': 'Moderate', 'I': 'INTENSE'};
      p=user.firstname + "'s workouts are " + intensity[user.intensity]
      if contactInfo
        if contactInfo.phone_num
          p Phone Number: #{contactInfo.phone_num}
        else
          p No Phone Number Provided
        if contactInfo.email
          p Email: #{contactInfo.email}
        else
          p No Email Provided
      if ownProfile
        div(id="buddeRequests")
          h2 Budde Requests:
          ul
          -var count = 0;
          each request in buddeRequests
            if request.other_user_id
              li
                a(href="/profile/view/" + request.other_user_id) #{request.message}
                form(id="buddeRequest"+count, class="budde-request-form", method="POST", action="/buddeRequest")
                  input(type="hidden", name="_csrf", value=csrftoken)
                  input(type="hidden", name="recievingUserId", value=user_id)
                  input(type="hidden", name="askingUserId", value=request.other_user_id)
                  input(type="hidden", name="notif_id", value=request.notif_id)
                  input(type="submit", value="Add As A Budde")
              -count++;
            else
              li=request.message

          
          
      
    //jQuery library for Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    //Bootstrap Stylesheet Setup
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //Javascript for Bootstrap
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/lib/buddeRequest.js")
